.check-button {
    width: 2rem;
    height: 2rem;
    float: right;
}

.issue-wrapper {
    float: left;
}

.search-result-icon {
    float: left;
}

.list {
    height: 50px;
}

.list-1.on {
    height: 400px;
}